@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --blanco: #fff;
    --negro: #000;
    --primario: #723185;
    --segundario: #000;
    --gris: #EEEEEE;
    --rojp: #FE90AA;
}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    width:100%;
}

footer{
    width: 100%;
    height: 200px;
    background: #8a6587;
    text-align: center;
}
/*--------------------------------------------------------- nav------------------------------------------------------------------*/

.navegador {
    background-color:var(--primario);
    display: flex;
    justify-content: space-between;
}

.navegador .jujutsukaisen{
    display:flex;
    align-items: center;
}

.navegador h2{
    padding-left: 10px;
    color: #fff;
    font-size: 7rem;
}

.navegador #icono{
    padding-top: 30px;
    
}

.navegador #icono img{
    width: 50px;
    height: 50px;
    position: relative;
    right: 170px;
    top: 20px;
}

.navegador #burrito-imagen{
    display:flex;
    height: 100px;
    width: 100px;
}

.navegador #burrito-imagen :hover{
    background-color: #9944b3;
    border-radius: 25%;
}

.navegador img{
    height: 100px;
}

/*---------------------------------------------------------parte 1------------------------------------------------------------------*/

.deposito-division1{
    height: 820px;
    width: 100%;
    margin-top: 30px;
}

.division1{
    margin: 0 100px 0 100px;
    display:flex;
}

.division1-texto{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.division1-imagen{
    width: 50%;
    text-align: center;
}

.division1-imagen img{
    height: 750px;
    border-radius: 100px;
}

.division1-texto #titulo{
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    color: #fff;
    width: 600px;
    height: 300px;
    position: relative;
    top: 50px;
    right: 50px;
    border-radius: 0 50px 50px 0;
    background-color:var(--primario) ;
}

.division1-texto #titulo h1{
    font-size: 15rem;
}

.division1-texto #titulo h2{
    font-size: 4rem;
}

.division1-texto #lore{
    padding: 100px 100px 0;
    font-size: 20px;
    text-align: left;
    position: relative;
    bottom: 50px;
}

/*---------------------------------------------------------parte 2------------------------------------------------------------------*/

.division2-deposito{
    text-align: center;
    width: 100%;
    height: 750px;
}

.division2{
    width: 1140px;
    height: auto;
    display: flex;
    margin-left: 170px;
    margin-right: 170px;
    flex-wrap: wrap;
    flex-direction: row;
}

.division2 .deposito-img{
    height: 100%;
    width: 50%;
}

.division2 .deposito-img #img1{
    height: 700px;
    width: auto;
    border-radius: 100px;
    border:#000;
    border-style: dashed;
}

.division2 .deposito-img #img2{
    height: 150px;
    width: auto;
    position: relative;
    bottom: 750px;
    left: 250px;
}

.division2 .deposito-texto{
    text-align: left;
    height: 100%;
    width: 50%;
    overflow-wrap: break-word; 
}

.deposito-texto-burrito{
    padding: 30px 59px;
    margin: 0;
}

.deposito-texto-burrito h2{
    font-weight: 700;
    font-size: 5rem;
    margin: 35px auto 0 1px;
}

.deposito-texto-burrito #frase{
    color: #858585;
    padding-top: 5%;
    font-size: 2rem;
}

.deposito-texto-burrito #lore{
    font-size: 2rem;
}

/*---------------------------------------------------------parte 3------------------------------------------------------------------*/



.division3-deposito{
    background: #EEEEEE;
    height: 850px;
    width: 100%;
}

.division3{
    padding: 50px 170px 70px 170px;
}

.division3 h2{
    font-weight: 700;
    font-size: 7rem;
    height: 100%;
    margin: 0 auto 0 1px;
}

.division3 .info-burrito{
    display: flex;
    height: 610px;
    margin-top: 50px;
}

.gojo-deposito{
    width: 50%;
    padding: 30px
}

.sukuna-deposito{
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.gojo-deposito p{
    margin-top: 50px
}

.gojo-deposito #img-gojo{
    width: 350px;
    margin-left: auto;
    height: auto;
    border-radius: 30px;
}

.sukuna-deposito #img-sukuna{
    width: 350px;
    height: auto;
    border-radius: 30px;
    margin: 30px auto 0 0;
}

/*---------------------------------------------------------parte 4------------------------------------------------------------------*/

.division4-deposito{
    height: 625px;
    width: 100%;
}

.division4{
    margin: 0 170px 0 170px;
}

.division4-titulo{
    padding: 40px 0 10px 0;
    font-size: 3rem;
}

.division4-imagenes{
    display: flex;
    justify-content: space-around;
    width: 1140px;
    margin-top: 30px;
    margin-bottom: 25px; 
}

.division4-imagenes img{
    height: 274px;
    width: auto;
    border-radius: 50px;
}

.division4-texto{
    text-align: center;
}

.division4-botoncito{
    display: flex;
}

.division4-botoncito span{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 75px;
    margin: 30px auto 60px auto;
    background: var(--primario);
    border-radius: 40px;
}

.division4-botoncito button{
    border: none;
    color: #9944b3;
    background: none;
    font-size: 2rem;
    text-decoration: none;

}

.division4-botoncito a{
    border: none;
    color: #fff;
    background: none;
    font-size: 2rem;
    text-decoration: none;

}

.division4-botoncito span :hover{
    width: 300px;
    height: 75px;
    background-color: #9944b3;
    border-radius:40px;
}

 /*---------------------------------------------------------parte 5------------------------------------------------------------------*/

.division5-deposito{
    height: 1100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gris);
    text-align:center;
    margin-top: 30px;
    background: #EEEEEE;
}

.division5-titulo{
    height: 10%;
    width: 100%;
    padding-top: 50px;
}

.division5-linea1{
    display: flex;
    height: 50%;
    margin: 0 170px 0 170px;
}

.division5-linea2{
    display: flex;
    height: 50%;
    margin: 0 170px 0 170px;
    padding-bottom: 50px;
}

.division5-linea1 .linea1-deposito1{
    width: 33.33%;
    height: 100%;
}

.division5-linea1 .linea1-deposito2{
    width: 33.33%;
    height: 100%;
}

.division5-linea1 .linea1-deposito3{
    width: 33.33%;
    height: 100%;
}

.division5-linea1 img{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin: 50px;
}

.division5-linea2 img{
    width: 300px;
    height: 300px;
    border-radius: 50px;
    margin: 50px;
}

.division5-linea1 .linea2-deposito1{
    width: 33.33%;
    height: 100%;
}

.division5-linea1 .linea2-deposito2{
    width: 33.33%;
    height: 100%;
}

.division5-linea1 .linea2-deposito3{
    width: 33.33%;
    height: 100%;
}

.division5-linea1 p{
    word-wrap: break-word; 
}

/*---------------------------------------------------------parte 6------------------------------------------------------------------*/

.division6-deposito{
    height: 570px;
    width: 100%;
}

.division6{
    display: flex;
    margin: 0 170px 0 170px;
    height: 100%;
}

.division6-imagen{
    width: 50%;  
    justify-content: center;
    display: flex;
    align-items: center;
}

.division6-imagen .imagen-deposito{
    color: #ffffff;
    height: 450px;
    width: 350px;
    margin: 0;
    background: var(--primario);
    border-radius: 50px;
}

.division6-imagen .imagen-deposito h2{
    font-size: 5rem;
    word-wrap: break-word;
    text-align: center;
}

.division6-texto{
    width: 50%;
}

.division6-imagen img{
    height: 300px;
    width: 350px;
    border-radius: 50px 50px 0 0;
}

.division6-texto{
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    justify-content: center;
}

.division6-texto .texto-deposito{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 445px;
}

.division6-texto .texto-deposito h2{
    font-size: 5rem;
    margin-bottom: 30px;
}

.division6-texto .botoncito-deposito span{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 75px;
    margin: 30px auto 60px auto;
    background: var(--primario);
    border-radius: 40px;
}

.division6-texto .botoncito-deposito button{
    border: none;
    color: #fff;
    background: none;
    font-size: 2rem;
}

.division6-texto .botoncito-deposito span :hover{
    width: 300px;
    height: 75px;
    background-color: #9944b3;
    border-radius:40px;
}

/*---------------------------------------------------------parte 7------------------------------------------------------------------*/

.division7-deposito{
    height: 675px;
    width: 100%;
    background-color: #EEEEEE;
}

.division7{
    margin: 0 170px 0 170px;
    height: 100%;
}

.division7 h2{
    font-size: 5rem;
    text-align: center;
    padding: 20px 20px 0 20px;
}

.deposito-cuadros{
    display: flex;
    justify-content: space-between;
    width: 710px;
    height: 500px;
    margin: 70px 215px 40px 215px;
}

.deposito-cuadros img{
    width: 125px;
    height: 125px;
    border-radius: 25%;
    position: relative;
    left: 115px;
    bottom: 50px;
    border-style:ridge;
    border-color: #000;
}

.deposito-cuadros h3{
    font-size: 4rem;
    margin-bottom: 30px;
}

.deposito-cuadros p{
    font-size: 2rem;
    padding: 10px 30px 10px 30px;
}

.deposito-cuadros .cuadro1{
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: flex-start;
    width: 345px;
    height: 500px;
    background: #ffffff;
    border-radius: 50px;
}

.deposito-cuadros .cuadro2{
    display: flex;
    flex-direction: column;
    text-align:center;
    justify-content: flex-start;
    width: 345px;
    height: 500px;
    background: #ffffff;
    border-radius: 50px;
}

.division7 .deposito-cuadros span{
    display: flex;
    justify-content: center;
    width: 250px;
    height: 75px;
    margin: 30px auto 60px auto;
    background: var(--primario);
    border-radius: 40px;
}

.division7 .deposito-cuadros button{
    border: none;
    color: #fff;
    background: none;
    font-size: 2rem;
}

.division7 .deposito-cuadros span :hover{
    width: 250px;
    height: 75px;
    background-color: #9944b3;
    border-radius:40px;
}

/*---------------------------------------------------------parte 8------------------------------------------------------------------*/

.division8-deposito{
    height: 750px;
    width: 100%;
}

.division8{
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 140px 0 170px;
}

.division8 h2{
    font-size: 5rem;
    padding: 30px;
    text-align: left;
}

.burrito-imagenes{
    display: flex;
    flex-direction: column;
}

.burrito-imagenes img{
    height: 245px;
    width: 275px;
    border-radius: 25px;
    border-style: ridge;
    border-color: #000;
}

.division8-linea1{
    height: 300px;
}

.division8-linea1{
    display: flex;
}

.division8-linea1 .burrito-imagen1{
    display: flex;
    justify-content: flex-end;
    width: 60%;
    padding: 30px;
}

.division8-linea1 .burrito-imagen2{
    display: flex;
    justify-content: flex-end;
    width: 40%;
    padding: 30px;
}

.division8-linea2{
    height: 300px;
}

.division8-linea2{
    display: flex;
}

.division8-linea2 .burrito-imagen3{
    display: flex;
    justify-content: flex-start;
    width: 40%;
    padding: 30px;
}

.division8-linea2 .burrito-imagen4{
    display: flex;
    justify-content: flex-start;
    width: 60%;
    padding: 30px;
}

/*---------------------------------------------------------Parcial 3------------------------------------------------------------------*/

.parcial3-deposito{
    height: 750px;
    width: 100%;
    background: var(--gris);
}

.parcial3{
    margin: 0 170px;
}

.parcial3 .lista{
    display: flex;
}

.lista form label{
    display: flex;
}

#contenedor-personaje{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
}

.imagen-personaje{
    display:flex;
    flex-direction: column;
    text-align: center;
}

.imagen-personaje img{
    width: 225px;
    height: auto;
}

.informacion-personaje{
    display:flex;
    flex-direction: column;
    text-align: center;
    height: 400px;
}

.informacion-personaje pre{
    width: 500px;
    text-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
}

.kanji-personaje{
    display:flex;
    flex-direction: column;
    text-align: center;
}

.lista{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.checkbox{
    cursor: pointer;
    background-color: #fff;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    appearance: none;
    border: 2px solid #888;
    transition: background-color 0.3s ease-in-out;
}

.mycheck:checked {
    background: rgb(236 72 153);
}

.checkbox:focus {
    background: rgb(126, 52, 161);
} 

.checkbox:disabled {
    background-color: rgb(198, 198, 198);
    background-image: none;
} 

.checkbox:disabled:checked{
    background-color: rgb(198, 198, 198);
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

/*---------------------------------------------------------patrocinadores------------------------------------------------------------------*/

.deposito-patrocinadores{
    height: 160px;
    width: 100%;
    background: #5a246a;
}

.patrocinadores{
    color: #fff;
    margin: 0 170px 0 170px;
    height: 100%;
    text-align: left;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.patrocinadores h1{
    font-size: 5rem;
    padding: 20px 0 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.patrocinadores .crunchyroll{
    width: auto;
    height: 50px;   
    align-items: center;
}
.patrocinadores .Fumination{
    width: auto;
    height: 150px;   
    align-items: center;
}
.patrocinadores .Pluto-TV{
    width: auto;
    height: 50px;   
    align-items: center;
}

/*---------------------------------------------------------opciones------------------------------------------------------------------*/
.deposito-opciones{
    height: 60px;
    width: 100%;
    color: #fff;
    background: #5a246a;
}

.opciones .texto {
    display: inline; 
    font-size: 2.3rem;
    margin: 0 5px; 
    user-select: text; 
    text-align: center;
}
/*---------------------------------------------------------footer------------------------------------------------------------------*/

.deposito-footer{
    height: 180px;
    width: 100%;
    color: #fff;
    background: #5a246a;
}

.footer .burrito-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
}

.deposito-patrocinadores{
    width: 100%;
    height: 250px;
    color: white
}

.deposito-patrocinadores .patrocinadores{
    display:flex;
    flex-direction: row;
}

.footer{
    margin: 0 170px 0 170px;
}

.footer .titulo{
    font-size: 2.2rem;
    text-align: center;
    color: #9c9c9c;
}

.footer .texto{
    font-size: 1.5rem;
    text-align: center;
    color: #9c9c9c;
    display: inline-block;
    margin: 5px 0; 
    padding: 0; 
    white-space: normal;
}